
<div class="not-acceptable">
  <h2>{{ not-acceptable-heading[heading] What is NOT considered an Acceptable Ad? }}</h2>

  <dl>
    <dt>{{ not-acceptable-types The following types of ads are currently unacceptable and cannot be considered for inclusion on the whitelist<sup aria-labelledby="whitelist-exception"><a href="#whitelist-exception">1</a></sup>: }}</dt>
    <dd>{{ not-acceptable-load-new-ads Ads that visibly load new ads if the Primary Content does not change }}</dd>
    <dd>{{ not-acceptable-hover-effects Ads with excessive or non-user-initiated hover effects }}</dd>
    <dd>{{ not-acceptable-animated-ads Animated ads<sup aria-labelledby="animated-exception"><a href="#animated-exception">2</a></sup> }}</dd>
    <dd>{{ not-acceptable-autoplay-ads Autoplay-sound or video ads }}</dd>
    <dd>{{ not-acceptable-expanding-ads Expanding ads }}</dd>
    <dd>{{ not-acceptable-oversized-ads Generally oversized image ads }}</dd>
    <dd>{{ not-acceptable-intersititial-page-ads Interstitial page ads }}</dd>
    <dd>{{ not-acceptable-overlay-ads Overlay ads }}</dd>
    <dd>{{ not-acceptable-overlay-in-video-ads Overlay in-video ads }}</dd>
    <dd>{{ not-acceptable-pop-ups Pop-ups }}</dd>
    <dd>{{ not-acceptable-pop-unders Pop-unders }}</dd>
    <dd>{{ not-acceptable-pre-roll-video-ads Pre-roll video ads }}</dd>
    <dd>{{ not-acceptable-rich-media-ads Rich media ads (e.g. Flash ads, Shockwave ads, etc.) }}</dd>
  </dl>
</div>

<dl class="footnotes2">
  <dt id="whitelist-exception">1</dt>
  <dd>{{ whitelist-exception Except when the user intentionally interacts with the ad (e.g. clicks on the ad to see a video ad playing). }}</dd>
  <dt id="animated-exception">2</dt>
  <dd>{{ animated-exception With one exception, please see <a href="#mobile-ads" class="mobile-ads-link">06 Mobile Ads</a>. }}</dd>
</dl>
