.page-about .masthead {
  // // vertical spacing
  @media (min-width: $lg-breakpoint) {
    padding-bottom: 3rem;
  }

  // Apply proportional height on small screens
  .graphics { height: 110vw; }

  // WARNING: Magic numbers below.

  .graphics::after {
    background: url(/img/svg/about-masthead.svg) no-repeat transparent;
    height: 107%;
    width: 100vw;
    left: 0;
    top: -4.5rem;
    background-position: top left -7%;
    background-size: auto 100%;
  }

  @media (min-width: $md-breakpoint) {
    .graphics { height: 67vw; }

    .graphics::after {
      background-position: top 2rem left 1rem;
      background-size: auto 92%;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .graphics::after { top: -6rem; }
  }

  @media (min-width: $xl-breakpoint) {
    .graphics {
      height: 46vw;
    }

    .graphics::after {
      height: 133%;
      top: -7rem;
      left: 1rem;
    }
  }

  @media (min-width: $xxl-breakpoint) {
    .graphics {
      height: 48vw;
      max-height: 1068px;
    }

    .graphics::after {
      height: 116%;
      top: -9rem;
      left: 5rem;
    }
  }
}

.with,
.without {
  .featured-image img {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// center image vertically on medium screens
@media (min-width: $md-breakpoint) {
  .with .row,
  .without .row {
    display: flex;
    align-items: center;
  }

  // re-reverse column when using flexbox, instead of floating layout
  .with .row { flex-direction: row-reverse; }
}

.timeline {

  @media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1) {
    header {
      float: right;
      width: 75%;
      padding-left: 1rem;
    }
  }

  header {
    @media (min-width: $md-breakpoint) {
      padding-left: 1.5rem;
    }

    @media (min-width: $lg-breakpoint) {
      padding-left: 0.5rem;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    clear: both;
  }

  // Offset timeline on large screens
  @media(min-width: $lg-breakpoint) {
    dl {
      position: relative;
      width: 124%;
      margin-left: -36%;
    }
  }

  dt {
    position: relative;
    width: 26%;
    padding-right: 1rem;
    font-size: 20px;
    font-weight: 700;
    text-align: right;

    @media (min-width: $md-breakpoint) {
      font-size: 40px;
      margin-top: -17px;
      padding-right: 2rem;
    }
  }

  // Whites out the top of the first border-left
  dt:first-of-type::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    height: 15px;
    width: 15px;
    background: $white;
    z-index: 1;

    @media (min-width: $md-breakpoint) {
      top: 15px;
    }
  }

  dd {
    position: relative;
    width: 74%;
    margin-left: 0;
    // Offset all items to place last point on previous line ending
    margin-bottom: -0.5rem;
    padding-left: 1rem;
    // Padding bottom includes offset above
    padding-bottom: 2.5rem;
    border-left: 4px solid $black;
    color: $gray;

    // remove line connector from last item
    &:last-child {
      border-color: transparent;
      padding-bottom: 0;
    }

    @media (min-width: $md-breakpoint) {
      padding-left: 1.5rem;
    }
  }

  // Points beside items
  dd::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: -10px;
    height: 15px;
    width: 15px;
    background: $green;
    border-radius: 50%;
    z-index: 1;
  }

  @media(max-width: $lg-breakpoint -  1) {
    // override column breakpoints below large screen sizes
    .column {
      width: 100%;
    }
  }

  // Last item "and beyond" accent text
  .and-beyond {
    display: block;
    margin-left: -26px;
    font-size: 16px;
    white-space: nowrap;

    @media (min-width: $md-breakpoint) {
      font-size: 20px;
    }
  }
}
