title=What are Acceptable Ads?
description=Acceptable Ads are nonintrusive ad formats that are accepted by ad blocking users and allow content creators to monetize their content.

<div class="masthead">
  <div class="section-container">
    <div class="row reverse">
      <div class="column graphics"></div>
      <div class="column masthead-body">
        <? include about/masthead ?>
      </div>
    </div>
  </div>
</div>

<section id="without" class="without my2">
  <div class="section-container">
    <div class="row">
      <div class="column one-half featured-image">
        <img src="/img/svg/laptop-without.svg" alt="">
      </div>
      <div class="column one-half">
        <? include about/without ?>
      </div>
    </div>
  </div>
</section>
<section class="with my2">
  <div class="section-container">
    <div class="row reverse">
      <div class="column one-half featured-image">
        <img src="/img/svg/laptop-with.svg" alt="">
      </div>
      <div class="column one-half">
        <? include about/with ?>
      </div>
    </div>
  </div>
</section>

<section class="timeline my2">
  <div class="section-container">
    <div class="row reverse">
      <div class="column one-half">
        <header>
          <? include about/timeline/header ?>
        </header>
        <? include about/timeline/list ?>
      </div>
    </div>
  </div>
</section>
