<div class="row">
  <div class="column one-half">
    <? include standard/not-considered/column-1 ?>
  </div>
  <div class="column one-half">
    <? include standard/not-considered/column-2 ?>
  </div>
</div>
